.places {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 984px;
  padding: 0 148px 92px 148px;
}

@media screen and (max-width: 1100px) {
  .places {
    max-width: 928px;
    padding: 0 48px 92px 48px;
  }
}

@media screen and (max-width: 840px) {
  .places {
    max-width: 720px;
    padding: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: 320px;
    padding: 0 0 66px 0;
  }
}
