.place__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  max-height: 460px;
  grid-area: place__image;
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 840px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    max-width: 320px;
  }
}
