.lead {
  margin: 0 auto;
  padding: 0 148px 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 984px;
}


@media screen and (max-width: 1200px) {
  .lead {
    padding: 0 48px 92px;
    max-width: 928px;
  }
}

@media screen and (max-width: 840px) {
  .lead {
    padding: 0 0 88px;
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    max-width: 320px;
    padding: 0 0 64px;
  }
}
