.header {
  max-width: 1184px;
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1290px) {
  .header {
    margin: 0 48px;
  }
}

@media screen and (max-width: 960px) {
  .header {
     margin: 0 24px;
  }
}

@media screen and (max-width: 740px) {
  .header {
     margin: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .header {
     margin: 0 16px;
     padding-top: 16px;
  }
}