.footer__links {
  display:flex;
  margin:0;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 640px) {
  .footer__links {
    display:block;
    margin-left: 0px;
    padding-bottom: 48px;
  }
}
