.intro__text {
color: #fff;
margin: 0;
max-width: 690px;
text-align: left;
font-weight: 400;
font-size: 16px;
line-height: 163%;
}

@media screen and (max-width: 780px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    max-width: 288px;
  }
}