.intro {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter;
  padding-left: 148px;
  padding-top: 0;
  padding-bottom: 92px;
}

@media screen and (max-width: 1030px) {
  .intro {
    padding-left: 48px;
  }
} 

@media screen and (max-width: 950px) {
  .intro {
    padding: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 430px) {
  .intro {
    padding: 0 16px 64px 16px;
  }
}