.intro {
  max-width: 984px;
  margin: 92px auto 92px;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
@media screen and (max-width: 1140px) {
  .intro {
    margin: 92px auto 92px 48px;
  }
} 

@media screen and (max-width: 950px) {
  .intro {
    margin: 88px 24px 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 64px 16px 64px 16px;
  }
}