.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity .3s ease;
}

.place__url:hover {
  opacity: 0.5;
  color: #ffffff;
  transition: color 1s linear 0.5s;
}